ENV=local

PG_USER=heartbeat_monitor_user
PG_PASSWORD=heartbeat_monitor_user_password
PG_NAME=heartbeat_monitor_database
PG_DRIVER=postgresql+asyncpg
PG_HOST=postgres-dev
PG_PORT=5432

FASTAPI_TITLE="Heartbeat Monitor"
DEBUG=0
